.loginContainer {
  position: static;
  background-color: darkgrey;
  padding: 25px;
  color: white;
}

.userAccountContainer {
  position: static;
  background-color: rgba(119, 136, 153);
  padding: 25px;
  color: white;
}

.userListContainer {
  position: static;
  background-color: goldenrod;
  padding: 25px;
  color: white;
}

th {
  color: white;
}

td {
  color: white;
}

.table-hover {
  color: white;
}

td.min-width {
  width: 1%;
  white-space: nowrap;
}