.loginContainer {
  background-color: darkseagreen;
  padding: 25px;
  color: white;
  border-radius: 10px;
  margin-bottom: 100px;
}

.homeContainer {
  background-color: lightskyblue;
  padding: 25px;
  color: white;
  border-radius: 10px;
  margin-bottom: 100px;
}

.userAccountContainer {
  background-color: lightgray;
  padding: 25px;
  color: white;
  border-radius: 10px;
  margin-bottom: 100px;
}

.userListContainer {
  background-color: gray;
  padding: 25px;
  color: white;
  border-radius: 10px;
  margin-bottom: 100px;
}

.editUserContainer {
  background-color: peachpuff;
  padding: 25px;
  color: white;
  border-radius: 10px;
  margin-bottom: 100px;
}

th.min-width,
td.min-width {
  width: 1%;
  white-space: nowrap;
}

tr,
td,
th {
  color: White;
}

nav {
  margin: 10px 0px 10px;
}

h1 {
  padding-bottom: 25px;
}

.wip {
  text-align: center;
  font-weight: 100;
}

.btn-primary :visited {
  color: white !important;
}
