.loginContainer {
  position: static;
  background-color: darkseagreen;
  padding: 25px;
  color: white;
}

.homeContainer {
  position: static;
  background-color: lightskyblue;
  padding: 25px;
  color: white;
}

.userAccountContainer {
  position: static;
  background-color: lightgray;
  padding: 25px;
  color: white;
}

.userListContainer {
  background-color: goldenrod;
  padding: 25px;
  color: white;
}

th.min-width,
td.min-width {
  width: 1%;
  white-space: nowrap;
}

tr,
td,
th {
  color: white;
}
